@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; /* Updated font-family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Additional styles for headings and paragraphs to match the real estate theme */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif; /* Elegant serif font for headings */
}

p, li {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; /* Clean sans-serif font for text */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Merriweather:wght@400;700&display=swap');

@media screen and (orientation: landscape) and (max-width: 768px) {
  .landscape-hidden {
    display: none;
  }
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .portrait-hidden {
    display: none;
  }
}
